- content_for :javascript do
  =javascript_include_tag 'db_subsection_show'

%h2= t('db.dog.header')

%dl.overview<
  %dt.name>=          t('db.dog.name')
  %dd>=               @dog.registered_name.upcase
  %dt.bg_id>=         t('db.dog.bg_id')
  %dd>=               @dog.id
  %dt.call_name>=     t('db.dog.call_name')
  %dd>=               @dog.call_name
  %dt.sex>=           t('db.dog.sex')
  %dd>=               sex_info(@dog)
  %dt.registration>=  t('db.dog.registration_number')
  %dd>=               @dog.registration
  %dt.kennel_club>=   t('db.dog.kennel_club')
  %dd>=               t("db.dog.registry.#{@dog.registry.downcase}")
  %dt.registration2>= t('db.dog.registration_number2')
  %dd>=               @dog.registration2
  %dt.kennel_club2>=  t('db.dog.kennel_club2')
  %dd>=               @dog.registry2
  %dt.dna>=           t('db.dog.dna_registration_number')
  %dd>=               @dog.dna_registration
  %dt.whelp_date>=    t('db.dog.whelp_date')
  %dd>=               l(@dog.whelp_date, :format => :db_dog) if @dog.litter
  %dt.litter>=        t('db.dog.litter_id')
  %dd>=               @dog.litter.id
  %dt.stud_book>=     t('db.dog.stud_book_date')
  %dd>
  %dt.deceased>=      t('db.dog.deceased')
  %dd>
  %dt.death>=         t('db.dog.death_date')
  %dd>
  %dt.data_source>=   t('db.dog.data_source')
  %dd>
  %dt.semen>=         t('db.dog.frozen_semen')
  %dd>
  %dt.rescue>=        t('db.dog.rescue_type')
  %dd>
  %dt.updated>=       t('db.people.last_updated')
  %dd>=               l(@dog.updated_at, :format => :db)

%h3= t('db.dog.subsection.header')

%ul.nav
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.owner'),    '#owner'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.breeder'),  '#breeder'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.physical'), '#physical'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.certs'),    '#certs'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.health'),   '#health'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.studies'),  '#studies'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.titles'),   '#titles'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.litters'),  '#litters'
  %li{:class => 'subsection_nav'}>= link_to t('db.dog.nav.photo'),    '#photo'

%a{:name => 'owner'}
#owner.subsection
  %table.owner
    %tr
      %th= t('db.dog.owner.bg_id')
      %th= t('db.dog.owner.name')
      %th= t('db.dog.owner.location')
      %th= t('db.dog.owner.reside')
    %tr
      %td.bgid= link_to @dog.owner.id, @dog.owner
      %td.name= @dog.owner.full_name.upcase
      %td.location= [@dog.owner.city, @dog.owner.state].join(', ').upcase
      %td.reside= t('yes')

%a{:name => 'breeder'}
#breeder.subsection
  - unless @dog.litter.nil?
    %table.owner
      %tr
        %th= t('db.dog.breeder.bg_id')
        %th= t('db.dog.breeder.name')
        %th= t('db.dog.breeder.location')
        %th= t('db.dog.breeder.kennel')
      %tr
        %td.bgid= link_to @dog.breeder.id, @dog.breeder
        %td.name= @dog.breeder.full_name.upcase
        %td.location= [@dog.breeder.city, @dog.breeder.state].join(', ').upcase
        %td.kennel= @dog.breeder.kennel_name.upcase

    %h3= t('db.dog.litter.header')

    %table.litter
      %tr
        %th
        %th= t('db.dog.litter.bg_id')
        %th= t('db.dog.litter.registered_name')
        %th= t('db.dog.litter.registration')
        %th= t('db.dog.litter.call_name')
      %tr.sire
        %td= t('db.dog.litter.sire')
        %td.bgid= @dog.litter.sire.id
        %td.name= @dog.litter.sire.registered_name.upcase
        %td.registration= @dog.litter.sire.registration
        %td.name= @dog.litter.sire.call_name.upcase
      %tr.dam
        %td= t('db.dog.litter.dam')
        %td.bgid= @dog.litter.dam.id
        %td.name= @dog.litter.dam.registered_name.upcase
        %td.registration= @dog.litter.dam.registration
        %td.name= @dog.litter.dam.call_name.upcase

    %p= t('db.dog.litter.footer')

%a{:name => 'physical'}
#physical.subsection
  I have physical attributes and whatnot

%a{:name => 'certs'}
#certs.subsection
  I have certs

%a{:name => 'health'}
#health.subsection
  I have my health

%a{:name => 'studies'}
#studies.subsection
  I have studies

%a{:name => 'titles'}
#titles.subsection
  I have titles

%a{:name => 'litters'}
#litters.subsection
  I may have litters

%a{:name => 'photo'}
#photo.subsection
  I have a photo
