%ul
  %li= link_to t('nav.home'       ), page_path(I18n.locale, 'home')
  %li= link_to t('nav.faq'        ), page_path(I18n.locale, 'faq')
  %li= link_to t('nav.repository' ), page_path(I18n.locale, 'repository')
  %li= link_to t('nav.trustees'   ), page_path(I18n.locale, 'trustees')
  %li= link_to t('nav.operators'  ), page_path(I18n.locale, 'operators') 
  %li= link_to t('nav.submit'     ), page_path(I18n.locale, 'submit')
  %li= link_to t('nav.donations'  ), page_path(I18n.locale, 'donations')
  %li= link_to t('nav.studies'    ), page_path(I18n.locale, 'studies')
  %li= link_to t('nav.articles'   ), page_path(I18n.locale, 'articles')
  %li= link_to t('nav.links'      ), page_path(I18n.locale, 'links')
  %li= link_to t('nav.database'   ), database_path(I18n.locale)
