%h2 Veel Gestelde Vragen

%ul
  %li= link_to('Wat is de Berner-Garde Stichting?',         '#what_is_bgf')
  %li= link_to('Waarom is Berner-Garde gemaakt?',           '#why_created')
  %li= link_to('Hoe kan Berner-Garde mij helpen?',          '#helping_you')
  %li= link_to('Wat kan ik doen?',                          '#helping_bgf')
  %li= link_to('Wat is de nieuwe DNA / Tissue repository?', '#repository')
  %li= link_to('Hoe wordt Berner-Garde gefinancierd?',      '#funding')
  %li= link_to('Waar moet ik mijn donatie?',                '#donating')

%span
  %a{:name => 'what_is_bgf'} Wat is de Berner-Garde Stichting?
  %p
    Berner-Garde is een belasting vrijgestelde stichting opgericht ter vergemakkelijking van de ordelijke
    verwerving en verspreiding van informatie in verband met genetische eigenschappen in
    Berner Sennenhond. Het doel is om te helpen fokkers te verminderen genetische ziekte
    tijdens het kweken voor een goed temperament en type. Berner-Garde streeft naar een
    open databank concept waar informatie over zowel beïnvloed en
    onaangetast honden is beschikbaar voor alle eigenaars, Berner Sennenhond clubs,
    goedgekeurd onderzoekers, en andere passende gebruikers. De voordelen van deze
    database kan worden gemeten in zowel korte als lange afstand termen met een onmiddellijke
    winst voor kwekers die gebruik maken van de informatie. In de toekomst zal deze verzameling van
    informatie zal de basis vormen voor studies onderzoek naar de oorzaak van genetische worden
    ziekte.

%span
  %a{:name => 'why_created'} Waarom is Berner-Garde gemaakt?
  %p
    Voor "de liefde van een Berner ".... Volgens verschillende studies, de gemiddelde
    levensduur van een Berner Sennen hond is ergens tussen de 7 en 8 jaar. Het is
    de missie van Berner-Garde dat alle Berner Sennen eigenaren kunnen
    verwachten dat een levensduur van 12 tot 14 jaar voor hun honden. Om dit doel te bereiken de
    incidentie van diverse ernstige erfelijke ziekten moeten worden verlaagd. Het is de
    hoop van allen die weten dat en houden van een Berner die het werk van Berner-Garde zal leiden
    voor een goed begrip van de genetische ziekte in het ras.

%span
  %a{:name => 'helping_you'} Hoe kan Berner-Garde mij helpen?
  %p
    Berner-Garde dient die ondersteuning en informatie nodig heeft op de gezondheid van BMD
    kwesties. De meeste individuele fokkers kiezen om kleine kennels hebben, waardoor het
    voor hen moeilijk om voldoende gegevens te verzamelen voor de fokkerij besluiten en
    identificeren dragers van erfelijke problemen. Berner-Garde bevordert de communicatie
    tussen de kwekers. Fokkers kunnen verminderen erfelijke ziekte in hun honden door
    gelet op de gezondheidstoestand van de broers en zussen en hun nakomelingen, zoals verkregen uit de
    Berner-Garde database op hetzelfde moment dat ze zijn te selecteren voor een goede temperament
    en type. Alleen door samen te werken en het delen van informatie kan op lange termijn
    controle van de genetische ziekte door bereikt over een ras-brede basis.

%span
  %a{:name => 'helping_bgf'} Wat kan ik doen?
  %p Alle BMD eigenaren noodzaak om:
  %ul
    %li
      Controleer dat hun BMD is opgenomen in het Berner-Garde database, samen met de
      rest van zijn nest. Elke BMD die geboren is moet worden ingevuld, zelfs indien de hond
      is niet van plan om te worden gebruikt voor de fok, omdat een van zijn naaste
      familieleden kunnen worden gebruikt.
    %li
      Krijgen zo veel gezondheid certificeringen op uw hond mogelijk te maken. Informatie over
      de status van de heupen en ellebogen, hart-en vaatziekten en oogziekten is uiterst
      belangrijk.
    %li
      Als uw hond een tumor heeft, deelnemen aan een van de studies die momenteel worden gedaan
      op de Berner Sennenhond als je kunt. Het is een moeilijke taak, maar alleen door
      deelnemen aan deze studies zullen we ooit in staat zijn om de ziekten te elimineren
      dat zijn onze honden doden op zo'n jonge leeftijd. Informeer uw dierenarts als een
      tumor wordt gevonden, hoe deel te nemen aan deze studies en weefsel de submit
      Repository.

%span
  %a{:name => 'repository'} Wat is de nieuwe DNA / Tissue repository?
  %p
    BGF heeft al lang een doel om een bron van de stamboom en de huidige medische informatie te creëren
    (BGF database) met de beschikbare DNA en weefsel (repository) voor zoveel BMDs mogelijk
    toegankelijk zijn voor diegenen die geïnteresseerd zijn in de gezondheid van hun ras. In 2006 werd deze doelstelling gerealiseerd wanneer BGF
    is een DNA en weefsel Repository in samenwerking met de Michigan State University.
  %p
    Een aantal van genetische ziekten teisteren ons ras, zoals kanker, orthopedische problemen en
    problemen met de voortplanting. Onderzoek naar deze ziekten is voornamelijk belemmerd door het gebrek aan
    van monsters en onvoldoende medische informatie. Bijvoorbeeld, maligne histiocytose is
    is aangetoond dat genetische in Berner Sennenhond (BMD's). Echter, het vinden van de ziekte
    gen (s) is belemmerd door het feit dat veel honden voorbijgaan voordat een accurate diagnose
    is gemaakt, en monsters zijn verloren van onderzoekers. Na een repository van DNA en weefsel
    van elke BMD, of ziek of gezond, sterk zou steun in onderzoek naar ziekten.
  %p
    Het doel van deze repository is het verzamelen, opslaan en onderhouden van DNA en weefselmonsters van
    een grote populatie van BMDs, of de getroffen met een stoornis of niet, samen met stamboom en
    medische geschiedenis informatie. Terwijl monsters van alle BMDs zal worden aanvaard, de verzameling van
    monsters uit volledige gezinnen van honden is benadrukt, bij tot genetisch onderzoek verbeteren. Deze
    monsters zal twee-belangrijke toepassingen: 1) ondersteuning van onderzoek naar genetische en andere ziekten
    invloed dit ras, 2) het bepalen van de aanwezigheid of afwezigheid van bekende ziekte markers in BMD's.
  %p
    Dit zal een unieke samenwerkingsverband tussen een grote universiteit, onderzoekers en rasechte worden
    hondenbezitters. De Berner-Garde Stichting is verantwoordelijk voor de financiering van deze inspanning en de BMDCA
    heeft toegezegd een aantal financiële bijstand. Gelieve Leen uw steun!
  %p
    Klik op de
    =link_to 'DNA/Tissue Repository', page_path(I18n.locale, 'repository')
    knop aan de linkerkant voor meer informatie.

%span
  %a{:name => 'funding'} Hoe wordt Berner-Garde gefinancierd?
  %p
    Bijdragen zijn onze enige bron van steun. Geld wordt gebruikt om onze programma's voordeel en
    de technologie die nodig zijn om deze programma's te ondersteunen. Onze huidige focus, naast de database,
    is het DNA en weefsel Repository voor de Berner Sennenhond. We moeten ook constant
    upgrade onze technologie met extra hardware en software beter te ondersteunen de
    Berner-Garde Stichting Database.
  %p
    Houd er rekening mee dat de fondsen gedoneerd aan Berner-Garde direct ten goede aan alle Berner Sennen honden.
    Deze organisatie wordt geheel gerund door vrijwilligers. Uw bijdrage zal helpen om verder te gaan onze
    missie van het elimineren genetische ziekte in het Berner Sennenhond in de komende jaren.

%span
  %a{:name => 'donating'} Waar moet ik mijn donatie?
  %p
    Berner-Garde is een not for profit 501 c 3-organisatie, wat betekent dat uw donatie is fiscaal
    aftrekbaar.
  %p Stuur dan uw bijdrage naar:
  %p
    %b Berner-Garde Treasurer<br />23095 Hilliard Blvd.<br />Westlake, OH 44145
