%h2 Häufig Gestellte Fragen

%ul
  %li= link_to('Was ist die Berner-Garde-Stiftung?',      '#what_is_bgf')
  %li= link_to('Warum wurde Berner-Garde geschaffen?',    '#why_created')
  %li= link_to('Wie kann Berner-Garde mir helfen?',       '#helping_you')
  %li= link_to('Was kann ich tun?',                       '#helping_bgf')
  %li= link_to('Was ist das neue DNA/Tissue Repository?', '#repository')
  %li= link_to('Wie wird Berner-Garde finanziert?',       '#funding')
  %li= link_to('Wo soll ich meine Spende?',               '#donating')

%span
  %a{:name => 'what_is_bgf'} Was ist die Berner-Garde-Stiftung?
  %p
    Berner-Garde ist eine steuerbefreite Stiftung bis zu erleichtern setzen die ordnungsgemäße
    Erwerb und Verbreitung von Informationen über genetische Merkmale in
    Berner Sennenhunde. Sein Ziel ist es, Züchter reduzieren Erbkrankheit
    während Zucht für gutes Temperament und Typ. Berner-Garde ist es, eine engagierte
    Open Data Base Konzept, bei dem Informationen über die beiden betroffenen und
    unberührt Hunde steht allen Eigentümern, Berner Sennenhund Clubs,
    genehmigt Forschern und anderen geeigneten Nutzer. Die Vorteile dieser
    Datenbank kann in Kurz-und Langstrecken-Bedingungen mit einer sofortigen gemessen werden
    Verstärkung für die Züchter, die diese Informationen nutzen. In Zukunft dieser Sammlung von
    Informationen bilden die Grundlage für Studien die Erforschung der Ursache der genetischen werden
    Krankheit.

%span
  %a{:name => 'why_created'} Warum wurde Berner-Garde geschaffen?
  %p
    Denn "die Liebe eines Berner ".... Verschiedenen Studien zufolge beträgt die durchschnittliche
    Lebensdauer eines Berner Sennenhund ist irgendwo zwischen 7 und 8 Jahren. Es ist
    die Mission des Berner Garde, dass alle Berner Sennenhund Besitzer in der Lage sein
    erwarten eine Lebensdauer von 12 bis 14 Jahren für ihre Hunde. Um dieses Ziel zu erreichen die
    Inzidenz von mehreren schweren Erbkrankheiten muss verringert werden. Es ist die
    Hoffnung aller, die wissen und lieben Berner dass die Arbeit der Berner-Garde führen
    zum Verständnis der genetischen Krankheit in der Rasse.

%span
  %a{:name => 'helping_you'} Wie kann Berner-Garde mir helfen?
  %p
    Berner-Garde dient jenen, die Unterstützung und Informationen müssen auf die BMD Gesundheit
    Themen. Die meisten einzelnen Züchter entscheiden, kleinen Zwinger haben, so dass es
    schwierig für sie, ausreichende Daten für die Zucht und Entscheidungen zu sammeln
    identifizieren Träger von Altlasten. Berner-Garde erleichtert die Kommunikation
    zwischen Züchtern. Züchter können reduzieren Erbkrankheit, bei ihren Hunden durch
    die Bestimmung des Gesundheitsstatus von Geschwistern und Nachkommen, wie aus den erhaltenen
    Berner-Garde Datenbank gleichzeitig sind sie für gutes Temperament Auswahl
    und Typ. Nur durch Zusammenarbeit und Austausch von Informationen kann langfristig
    Kontrolle der genetischen Erkrankung, die durch eine Rasse-weit erreicht.

%span
  %a{:name => 'helping_bgf'} Was kann ich tun?
  %p Alle BMD Besitzer müssen:
  %ul
    %li
      Stellen Sie sicher, dass ihre Knochendichte in der Berner-Garde-Datenbank eingetragen, zusammen mit dem
      Rest seiner Sänfte. Jeder BMD wird man geboren muss eingegeben werden, auch wenn der Hund
      wird nicht zur Zucht verwendet werden, da einer seiner engen
      Angehörigen verwendet werden könnte.
    %li
      Erhalten Sie so viele Zertifizierungen Gesundheit Ihres Hundes wie möglich. Informationen über
      den Status der Hüfte und Ellbogen, Herzkrankheiten und Augenerkrankung ist extrem
      wichtig.
    %li
      Wenn Ihr Hund hat einen Tumor, in keiner der Studien derzeit durchgeführt teilnehmen
      auf Berner Sennenhunde wenn du kannst. Es ist eine schwierige Aufgabe, sondern nur durch
      Teilnahme an diesen Studien werden wir jemals in der Lage, Krankheiten zu beseitigen
      dass töten unsere Hunde in einem so frühen Alter. Informieren Sie Ihren Tierarzt, wenn ein
      Tumor gefunden wird, wie in diesen Studien teilnehmen und legt Gewebes auf die
      Repository.

%span
  %a{:name => 'repository'} Was ist das neue DNA / Tissue Repository?
  %p
    BGF ist seit langem ein Ziel, eine Ressource von Pedigree und aktuelle medizinische Informationen zu erstellen hatte
    (BGF-Datenbank) mit den verfügbaren DNA-und Gewebe (Repository) für beliebig viele BMDs wie möglich,
    Internet an Interessierte aus Zucht Gesundheit. Im Jahr 2006 wurde dieses Ziel verwirklicht, wenn BGF
    wurde ein DNA-und Gewebe-Repository in Partnerschaft mit der Michigan State University.
  %p
    Eine Reihe von genetischen Krankheiten plagen unsere Rasse, wie Krebserkrankungen, orthopädische Probleme und
    reproduktiven Problemen. Die Erforschung dieser Erkrankungen ist in erster Linie durch den Mangel behindert
    von Proben und eine unzureichende medizinische Informationen. Zum Beispiel hat malignen Histiozytose
    konnte gezeigt werden, in Berner Sennenhunde (BMD's) genetisch bedingt. Allerdings finden die Krankheit
    Gen (e) wurde durch die Tatsache behindert, dass viele Hunde vergehen, bevor eine genaue Diagnose
    gemacht wurden, und Proben sind für Forscher verloren. Mit einer Sammlung von DNA-und Gewebe
    von jedem BMD, ob krank oder gesund, würde stark in die Erforschung von Krankheiten helfen.
  %p
    Der Zweck dieses Repository zu sammeln, speichern und verwalten DNA-und Gewebeproben von
    eine große Population von BMDs, ob mit einer Störung oder nicht betroffen, zusammen mit Abstammungs-und
    Krankengeschichte Informationen. Während Proben aus allen BMDs akzeptiert werden, die Sammlung von
    Proben aus kompletten Familien von Hunden hervorgehoben wird, in der Genforschung zu verbessern. Diese
    1) Förderung der Forschung in genetischen und anderen Krankheiten: Proben werden zwei wichtige verwendet haben
    Auswirkungen dieser Rasse, 2) die Festlegung der Anwesenheit oder Abwesenheit von Krankheit bekannt Marker in BMD's.
  %p
    Dies wird eine einzigartige Zusammenarbeit von einer großen Universität, Forscher und reinrassig sein
    Hundebesitzer. Die Berner-Garde-Stiftung ist verantwortlich für die Finanzierung dieser Aufwand und die BMDCA
    hat sich verpflichtet, eine finanzielle Unterstützung. Bitte geben Sie Ihre Unterstützung!
  %p
    Klicken Sie auf die
    =link_to 'DNA/Tissue Repository', page_path(I18n.locale, 'repository')
    taste auf der linken Seite für mehr Informationen.

%span
  %a{:name => 'funding'} Wie wird Berner-Garde finanziert?
  %p
    Die Beiträge sind unsere einzige Quelle für die Unterstützung. Geld wird verwendet, um unsere Programme profitieren und
    die Technologie, die zur Unterstützung dieser Programme. Unser aktueller Schwerpunkt, neben der Datenbank,
    ist die DNA-und Gewebe-Repository für Berner Sennenhunde. Wir müssen auch ständig
    Upgrade unserer Technologie mit zusätzlicher Hard-und Software zur besseren Unterstützung der
    Berner-Garde Foundation-Datenbank.
  %p
    Bitte beachten Sie, dass die Mittel zur Berner-Garde gespendet direkt profitieren alle Berner Sennenhunde.
    Diese Organisation wird vollständig von Freiwilligen betrieben. Ihr Beitrag wird helfen, weiterhin unsere
    Mission der Beseitigung Erbkrankheit, bei der Berner Sennenhund in den kommenden Jahren.

%span
  %a{:name => 'donating'} Wo soll ich meine spende?
  %p
    Berner-Garde ist eine nicht gewinnorientierte 501 c 3 Organisation, dass Ihre Spende steuerlich ist mittels
    Selbstbehalt.
  %p Bitte senden Sie Ihren Beitrag an:
  %p
    %b Berner-Garde Treasurer<br />23095 Hilliard Blvd.<br />Westlake, OH 44145
