%h2 Frequently Asked Questions

%ul
  %li= link_to('What is the Berner-Garde Foundation?',   '#what_is_bgf')
  %li= link_to('Why was Berner-Garde created?',          '#why_created')
  %li= link_to('How can Berner-Garde help me?',          '#helping_you')
  %li= link_to('What can I do?',                         '#helping_bgf')
  %li= link_to('What is the new DNA/Tissue Repository?', '#repository')
  %li= link_to('How is Berner-Garde Funded?',            '#funding')
  %li= link_to('Where should I send my donation?',       '#donating')

%span
  %a{:name => 'what_is_bgf'} What is the Berner-Garde Foundation?
  %p
    Berner-Garde is a tax exempt foundation set up to facilitate the orderly 
    acquisition and dissemination of information related to genetic traits in 
    Bernese Mountain Dogs. Its goal is to help breeders reduce genetic disease 
    while breeding for good temperament and type. Berner-Garde is committed to an 
    open data base concept where information concerning both affected and 
    unaffected dogs is available to all owners, Bernese Mountain Dog clubs, 
    approved researchers, and other appropriate users. The benefits of this 
    database can be measured in both short and long range terms with an immediate 
    gain for breeders who use the information. In the future, this collection of 
    information will be the basis for studies researching the cause of genetic 
    disease.

%span
  %a{:name => 'why_created'} Why was Berner-Garde created?
  %p
    For "the love of a Berner".... According to various studies, the average 
    lifespan of a Bernese Mountain dog is somewhere between 7 and 8 years. It is 
    the mission of Berner-Garde that all Bernese Mountain Dog owners be able to 
    expect a life span of 12 to14 years for their dogs. To accomplish this goal the 
    incidence of several serious hereditary diseases must be decreased. It is the 
    hope of all who know and love a Berner that the work of Berner-Garde will lead 
    to an understanding of genetic disease in the breed.

%span
  %a{:name => 'helping_you'} How can Berner-Garde help me?
  %p
    Berner-Garde serves those who need support and information on BMD health 
    issues. Most individual breeders choose to have small kennels, making it 
    difficult for them to collect adequate data for breeding decisions and to 
    identify carriers of inherited problems. Berner-Garde facilitates communication 
    between breeders. Breeders can reduce genetic disease in their dogs by 
    considering the health status of siblings and offspring, as obtained from the 
    Berner-Garde database at the same time they are selecting for good temperament 
    and type. Only by working together and sharing information can long-term 
    control of genetic disease by achieved on a breed-wide basis.

%span
  %a{:name => 'helping_bgf'} What can I do?
  %p All BMD owners need to:
  %ul
    %li
      Verify that their BMD is entered in the Berner-Garde database, along with the 
      rest of its litter. Every BMD that is born needs to be entered, even if the dog 
      is not going to be used for breeding purposes, because one of its close 
      relatives might be used.
    %li
      Obtain as many health certifications on your dog as possible. Information on 
      the status of hips and elbows, heart disease and eye disease is extremely 
      important.
    %li
      If your dog has a tumor, participate in any of the studies currently being done 
      on Bernese Mountain Dogs if you can. It is a difficult job, but only by 
      participating in these studies will we ever be able to eliminate the diseases 
      that are killing our dogs at such an early age. Inform your veterinarian if a 
      tumor is found, how to participate in these studies and submit tissue to the 
      Repository.

%span
  %a{:name => 'repository'} What is the new DNA/Tissue Repository?
  %p
    BGF has long had a goal to create a resource of pedigree and current medical information
    (BGF database) with available DNA and tissue (Repository) for as many BMDs as possible, 
    accessible to those interested in breed health. In 2006, this goal was realized when BGF
    established a DNA and Tissue Repository	in partnership with Michigan State University.
  %p
    A number of genetic diseases afflict our breed, such as cancers, orthopedic problems and 
    reproductive problems. Research on these diseases has been hampered primarily by the lack 
    of samples and insufficient medical information. For example, malignant histiocytosis has 
    been shown to be genetic in Bernese Mountain Dogs (BMD's). However, finding the disease 
    gene(s) has been hampered by the fact that many dogs pass away before an accurate diagnosis 
    has been made, and samples are lost to researchers. Having a repository of DNA and tissue 
    from any BMD, whether ill or healthy, would greatly aid in disease research.
  %p
    The purpose of this repository is to collect, store and maintain DNA and tissue samples from 
    a large population of BMDs, whether affected with a disorder or not, along with pedigree and 
    medical history information. While samples from all BMDs will be accepted, the collection of 
    samples from complete families of dogs is emphasized, to enhance genetic research. These 
    samples will have	two-major uses: 1) supporting research into genetic and other diseases 
    affecting this breed; 2) defining the presence or absence of known disease markers in BMD's.
  %p
    This will be a unique collaborative effort between a major university, researchers and purebred 
    dog owners. The Berner-Garde Foundation is responsible for funding this effort and the BMDCA 
    has	pledged some financial assistance. Please lend your support!
  %p
    Click on the
    =link_to 'DNA/Tissue Repository', page_path(I18n.locale, 'repository')
    button on the left for more information.

%span
  %a{:name => 'funding'} How is Berner-Garde funded?
  %p
    Contributions are our only source of support. Money is used to benefit our programs and 
    the technology necessary to support those programs. Our current focus, besides the database, 
    is the DNA and Tissue Repository for Bernese Mountain Dogs. We also need to constantly 
    upgrade our technology with additional hardware and software to better support the 
    Berner-Garde Foundation Database.
  %p
    Please know that funds donated to Berner-Garde directly benefit all Bernese Mountain Dogs. 
    This organization is run entirely by volunteers. Your contribution will help to continue our 
    mission of eliminating genetic disease in the Bernese Mountain Dog in the years to come.

%span
  %a{:name => 'donating'} Where should I send my donation?
  %p
    Berner-Garde is a not for profit 501 c 3 organization which means that your donation is tax 
    deductible.
  %p Please send your contribution to:
  %p
    %b Berner-Garde Treasurer<br />23095 Hilliard Blvd.<br />Westlake, OH 44145
