%h2 Current Research Studies - Health - Bernese Mountain Dogs

%p
  %h3.short Research Studies - Bernese Mountain Dogs - Homepage

%p
  %h4.short You can help improve the Bernese breed!

%p
  If you have a Bernese Mountain Dog (BMD) who is suffering from a health condition
  or serious illness, you have our heartfelt sympathy. But it may offer some comfort
  to you to know that there are many teams of veterinary, medical, and genetic
  professionals around the world who are working to find effective solutions to help
  owners and breeders manage individual dogs and breeds affected by health problems.

%p
  The purpose of canine health research is to advance the understanding of health
  conditions, disease processes and the heritability factors for diseases that affect
  dogs. Some diseases that impact quality and length of life are inherited. Defective
  genes which are carried by individuals and in families of dogs contribute to the
  occurrence and prevalence of diseases in breeds.

%p
  Research on health disorders that affect BMD's and other breeds can lead directly
  to effective treatment options for dogs that acquire diseases as well as to the
  development of simple tests that can be performed on breeding dogs. These tests
  are often referred to by people in the dog fancy as genetic screening and they
  are important tools for breed health management.

%p
  Selectively breeding dogs that do not have defective genes or an inborn
  predisposition to develop health problems has long been regarded as an effective
  means by which to improve health and function in breeding populations. By using
  the genetic testing tools developed by researchers, breeders can minimize the
  number of dogs stricken by devastating illnesses. * Dogs that carry undesirable
  genes with potential to produce health problems may also carry genes to produce
  sought after traits. In the case of many health conditions that are influenced
  by genes, breeding a carrier to a non carrier or breeding dogs that are both
  clear of a genetic defect is an acceptable method for producing dogs that are
  not affected by disease and retain important, valued breed characteristics.

%h4.short How can you help?

%p
  Become a part of the solution. If your dog has been diagnosed with one of these
  illnesses, research can greatly benefit from your help. Your dog could be the
  hero that saves the breed! An exciting possibility health research offers is
  the potential to eliminate inherited health conditions. Often participation in
  research studies can be done simply by providing data you already have or by
  providing simple lab tests performed or collected by your veterinarian. The
  information you share with researchers will enable them to offer breeders
  legitimate, scientifically proven information about diseases and to develop
  tools breeders can use to produce healthier dogs.

%p
  %span.healthy_help Healthy Berners Can Help Too!
  Some projects -
  %span.healthy_help highlighted in green
  \- also need samples/info from healthy BMD's. If you have a healthy Berner,
  check the green projects to see how you too can make a difference!

%p
  Each ailment is discussed in more detail on the Current Research pages listed
  below. The Current Research pages contain additional links to researcher's
  websites which offer specific information pertaining to research studies. The
  information can be printed out for use by you and/or your veterinarian. *Some
  studies are not breed specific - they are noted with an asterisk*.

%h3 Current Research Pages

%h4.short Malignant Histiocytosis
%ul
  %li
    =link_to('Malignant Histiocytosis', page_path(I18n.locale, 'studies_mh'))
    %span.healthy_help (Healthy Berners needed too)

%h4.short Cancers
%ul
  %li
    =link_to('Mast Cell Tumors or Osteosarcoma', page_path(I18n.locale, 'studies_broad_institute'))

%ul.detail
  %li
    %span LYMPHO SARCOMAS / HEMANGIO SARCOMA / OSTEO SARCOMA
    %span Researcher: Dr. Breen - samples/blood, fresh tissue
    %span
      See
      =link_to('http://www.breenlab.org','http://www.breenlab.org')
      for more info.
    %span
      Email contact: Dr. Breen -
      =link_to('info@breenlab.org','mailto:info@breenlab.org')
  %li
    %span B CELL LYMPHOMA / *MAMMARY / *MELANOMA / *HEMANGIO SARCOMA
    %span Researcher: Dr. Lindblad-Toh - samples/blood
    %span
      See
      =link_to('http://www.broad.mit.edu/mammals/dog/donate.html','http://www.broad.mit.edu/mammals/dog/donate.html')
      for more info.
    %span
      Email contact: Sarah Fryc -
      =link_to('kersli@broad.mit.edu','mailto:kersli@broad.mit.edu')
    %span Phone: 617-252-1093
  %li
    %span *T CELL LYMPHOMA / *OSTEOSARCOMA / *CERTAIN MELANOMAS / *HEMANGIO SARCOMA
    %span Researcher: Dr. Modiano - samples/blood, tissue
    %span
      See PDF
      =link_to('Samples We Need','/Modiano_Lab_The_Samples_We_Need_Jan-09.pdf')
      for more info.
    %span
      Email contact: Mitzi Lewellen -
      =link_to('lewel001@umn.edu','mailto:lewel001@umn.edu')
    %span Phone: 612-626-6890
    %span Contact Mitzi for assistance with all sample submissions, to obtain necessary forms, shipping information, and sample collection kits.

%h4.short Neurological - Spinal
%ul
  %li= link_to('Degenerative Myelopathy', page_path(I18n.locale, 'studies_dm'))
  %li= link_to('Rear End Paralysis', page_path(I18n.locale, 'studies_santera'))

%h4.short Other Research Studies
%ul
  %li= link_to('Progressive Retinal Atrophy (PRA)', page_path(I18n.locale, 'studies_optigen_pra'))
  %li= link_to('Liver Shunt', page_path(I18n.locale, 'studies_utrecht_liver_shunt'))
  %li= link_to('Epilepsy', page_path(I18n.locale, 'studies_carc'))

%h4.short DNA Bank
%ul
  %li
    =link_to('BMD DNA Repository', page_path(I18n.locale, 'repository'))
    %span.healthy_help (Healthy Berners needed too)

%p
  PLEASE HELP KEEP THIS INFORMATION CURRENT. If you learn that the status of a
  project has changed, know of new research not listed, or are aware of any
  additions or corrections to the information provided, please notify Pat Long at:
  =link_to('pat@bmdinfo.com','mailto:pat@bmdinfo.com')
  \.
