%h2 Huidige onderzoek Studies - Gezondheid - Berner Sennenhond

%p
  %h3.short Onderzoek Studies - Berner Sennenhond - Homepage

%p
  %h4.short U kunt helpen bij het verbeteren van de Berner ras!

%p
  Als je een Berner Sennenhond (BMD), die lijdt aan een gezondheidstoestand
  of ernstige ziekte, kunt u op onze oprechte medeleven. Maar het kan bieden enige troost
  aan u om te weten dat er veel teams van de veterinaire, medische en genetische
  professionals over de hele wereld die werken aan effectieve oplossingen te helpen zoeken
  fokkers en eigenaren te beheren individuele honden en rassen getroffen door gezondheidsproblemen.

%p
  Het doel van gezondheid van de hond onderzoek is om vooraf het begrip van de gezondheid
  omstandigheden, ziekte processen en de erfelijkheid factoren voor ziekten die van invloed zijn
  honden. Sommige ziekten die van invloed zijn kwaliteit en lengte van het leven worden overgeërfd. Defect
  genen die worden uitgevoerd door particulieren en in gezinnen van honden bijdragen aan de
  vóórkomen en de prevalentie van ziekten in rassen.

%p
  Onderzoek naar gezondheidsklachten die invloed hebben op BMD's en andere rassen kan direct leiden
  tot een doeltreffende behandeling opties voor honden die te verwerven ziekten alsmede aan de
  de ontwikkeling van eenvoudige tests die kunnen worden uitgevoerd op het fokken van honden. Deze tests
  worden vaak genoemd door mensen in de hond fancy als genetische screening en zij
  zijn belangrijke instrumenten voor gezondheid van hun ras management.

%p
  Selectief fokken van honden die geen defecte genen of een aangeboren
  predispositie voor gezondheidsproblemen te ontwikkelen werd lange tijd beschouwd als een effectieve
  middel om de gezondheid en de functie te verbeteren in de broedpopulaties. Door gebruik te maken
  de genetische test tools ontwikkeld door onderzoekers, kunnen fokkers het minimaliseren van de
  aantal honden getroffen door verwoestende ziekten. * Honden die met de uitvoering ongewenste
  genen met het potentieel om gezondheidsproblemen te produceren mag ook genen te produceren
  gewilde eigenschappen. In het geval van veel gezondheidsproblemen voorwaarden die worden beïnvloed
  door de genen, het fokken van een drager met een niet drager of fokken van honden die zowel
  duidelijk van een genetisch defect is een aanvaardbare methode voor het produceren van honden die
  niet aangetast door de ziekte en te behouden belang, gewaardeerd raskenmerken.

%h4.short Hoe kun je helpen?

%p
  Word een deel van de oplossing. Als uw hond is gediagnostiseerd met een van deze
  ziekten, kan onderzoek veel baat hebben bij uw hulp. Uw hond kan het
  held die het ras bespaart! Een spannende mogelijkheid om de gezondheid van onderzoek biedt is
  het potentieel om te elimineren erfelijke gezondheidsproblemen. Vaak deelname aan
  onderzoeken kan eenvoudig worden gedaan door het verstrekken van gegevens die u al hebt of door
  het verstrekken van eenvoudige laboratoriumtests uitgevoerd of verzameld door uw dierenarts. Het
  informatie die je deelt met de onderzoekers hen in staat stellen aan fokkers bieden
  legitiem zijn, wetenschappelijk bewezen informatie over ziekten en het ontwikkelen van
  tools fokkers kunnen gebruiken om gezonder te produceren honden.

%p
  %span.healthy_help Gezonde Berners kunt ook helpen!
  Sommige projecten -
  %span.healthy_help gemarkeerd in het groen
  \- ook moeten de monsters / info van gezonde BMD's. Als u een gezonde Berner,
  Kijk naar het groene projecten om te zien hoe ook jij een verschil kunt maken!

%p
  Elke kwaal is in meer detail besproken op de huidige lijst Onderzoek pagina's
  hieronder. Het huidige onderzoek pagina's bevatten aanvullende links naar onderzoeker
  websites die specifieke informatie met betrekking tot onderzoeken aan te bieden. Het
  informatie kan worden uitgeprint voor gebruik door u en/of uw dierenarts. *Sommige
  studies zijn niet rasspecifieke - ze zijn met een sterretje*.

%h3 Huidige Onderzoek Pagina's

%h4.short Maligne Histiocytose
%ul
  %li
    =link_to('Maligne Histiocytose', page_path(I18n.locale, 'studies_mh'))
    %span.healthy_help (Gezonde Berners ook nodig)

%h4.short Kankers
%ul
  %li
    =link_to('Mastceltumoren of Osteosarcoom', page_path(I18n.locale, 'studies_broad_institute'))

%ul.detail
  %li
    %span LYMPHO SARCOMEN / HEMANGIO SARCOOM / OSTEO SARCOOM
    %span Onderzoeker: Dr Breen - monsters/bloed, vers weefsel
    %span
      Zie
      =link_to('http://www.breenlab.org','http://www.breenlab.org')
      voor meer info.
    %span
      Email contact: Dr. Breen -
      =link_to('info@breenlab.org','mailto:info@breenlab.org')
  %li
    %span B-CEL LYMFOOM / *BORSTTUMOREN / *MELANOOM / *HEMANGIO SARCOOM
    %span Onderzoeker: Dr. Lindblad-Toh - monsters/bloed
    %span
      Zie
      =link_to('http://www.broad.mit.edu/mammals/dog/donate.html','http://www.broad.mit.edu/mammals/dog/donate.html')
      voor meer info.
    %span
      Email contact: Sarah Fryc -
      =link_to('kersli@broad.mit.edu','mailto:kersli@broad.mit.edu')
    %span Telefoon: 617-252-1093
  %li
    %span *T-CEL LYMFOOM / *OSTEOSARCOOM / *BEPAALDE MELANOMEN / *HEMANGIO SARCOOM
    %span Onderzoeker: Dr. Modiano - monsters/bloed, weefsel
    %span
      Zie PDF
      =link_to('Monsters We Noodzaak','/Modiano_Lab_The_Samples_We_Need_Jan-09.pdf')
      voor meer info.
    %span
      Email contact: Mitzi Lewellen -
      =link_to('lewel001@umn.edu','mailto:lewel001@umn.edu')
    %span Telefoon: 612-626-6890
    %span Neem contact op met Mitzi voor hulp bij alle inzendingen steekproef, om de nodige formulieren te verkrijgen, de nautische informatie en monstername kits.

%h4.short Neurologische - Spinal
%ul
  %li= link_to('Degeneratieve Myelopathie', page_path(I18n.locale, 'studies_dm'))
  %li= link_to('Achterzijde Verlamming', page_path(I18n.locale, 'studies_santera'))

%h4.short Andere Studies
%ul
  %li= link_to('Progressieve retina atrofie (PRA)', page_path(I18n.locale, 'studies_optigen_pra'))
  %li= link_to('Lever Shunt', page_path(I18n.locale, 'studies_utrecht_liver_shunt'))
  %li= link_to('Epilepsie', page_path(I18n.locale, 'studies_carc'))

%h4.short DNA-bank
%ul
  %li
    =link_to('BMD DNA Repository', page_path(I18n.locale, 'repository'))
    %span.healthy_help (Gezonde Berners ook nodig)

%p
  GELIEVE TE HELPEN DE INFORMATIE RECENT. Als je leert dat de status van een
  het project is veranderd, weet van nieuw onderzoek niet in de lijst, of zich bewust zijn van eventuele
  aanvullingen of correcties op de verstrekte informatie, gelieve Pat Long op:
  =link_to('pat@bmdinfo.com','mailto:pat@bmdinfo.com')
  \.
