%h2 Huidige Onderzoek Studies - Gezondheid - Berner Sennenhond

%p
  %h3.short Onderzoek Studies - Berner Sennenhond - Homepage

%p
  %h4.short U kunt helpen bij het verbeteren van de Berner ras!

%p
  Als je een Berner Sennenhond (BMD), die lijdt aan een gezondheidstoestand
  of ernstige ziekte, kunt u op onze oprechte medeleven. Maar het kan bieden enige troost
  aan u om te weten dat er veel teams van de veterinaire, medische en genetische
  professionals over de hele wereld die werken aan effectieve oplossingen te helpen zoeken
  fokkers en eigenaren te beheren individuele honden en rassen getroffen door gezondheidsproblemen.

%p
  Het doel van gezondheid van de hond onderzoek is om vooraf het begrip van de gezondheid
  omstandigheden, ziekte processen en de erfelijkheid factoren voor ziekten die van invloed zijn
  honden. Sommige ziekten die van invloed zijn kwaliteit en lengte van het leven worden overgeërfd. Defect
  genen die worden uitgevoerd door particulieren en in gezinnen van honden bijdragen aan de
  vóórkomen en de prevalentie van ziekten in rassen.

%p
  Onderzoek naar gezondheidsklachten die invloed hebben op BMD's en andere rassen kan direct leiden
  tot een doeltreffende behandeling opties voor honden die te verwerven ziekten alsmede aan de
  de ontwikkeling van eenvoudige tests die kunnen worden uitgevoerd op het fokken van honden. Deze tests
  worden vaak genoemd door mensen in de hond fancy als genetische screening en zij
  zijn belangrijke instrumenten voor gezondheid van hun ras management.

%p
  Selectief fokken van honden die geen defecte genen of een aangeboren
  predispositie voor gezondheidsproblemen te ontwikkelen werd lange tijd beschouwd als een effectieve
  middel om de gezondheid en de functie te verbeteren in de broedpopulaties. Door gebruik te maken
  de genetische test tools ontwikkeld door onderzoekers, kunnen fokkers het minimaliseren van de
  aantal honden getroffen door verwoestende ziekten. * Honden die met de uitvoering ongewenste
  genen met het potentieel om gezondheidsproblemen te produceren mag ook genen te produceren
  gewilde eigenschappen. In het geval van veel gezondheidsproblemen voorwaarden die worden beïnvloed
  door de genen, het fokken van een drager met een niet drager of fokken van honden die zowel
  duidelijk van een genetisch defect is een aanvaardbare methode voor het produceren van honden die
  niet aangetast door de ziekte en te behouden belang, gewaardeerd raskenmerken.

%h4.short Wie können sie helfen?

%p
  Werde ein Teil der Lösung. Wenn Ihr Hund hat mit einem dieser diagnostiziert worden
  Krankheiten kann die Forschung stark von Ihrer Hilfe profitieren. Ihr Hund könnte die
  Held, dass die Rasse spart! Eine spannende Möglichkeit Gesundheitsforschung bietet, ist
  das Potenzial, die gesundheitlichen Bedingungen geerbt zu beseitigen. Oft Teilnahme an
  Studien kann einfach durch die Bereitstellung von Daten haben Sie bereits getan werden oder durch
  Bereitstellung von einfachen Labortests durchgeführt oder gesammelt von Ihrem Tierarzt. Das
  Informationen, die Sie mit Forschern wird es ihnen ermöglichen Züchter bieten
  legitim, wissenschaftlich erwiesen, Informationen über Krankheiten und die Entwicklung
  Werkzeuge Züchter verwenden können, um gesünder zu produzieren Hunde.

%p
  %span.healthy_help Gesunde Berners Können Helfen!
  Einige projekte -
  %span.healthy_help grün markiert
  \- außerdem müssen Proben / Infos von gesunden BMD's. Wenn Sie eine gesunde Berner,
  überprüfen Sie die grüne Projekte zu sehen, wie Sie auch einen Unterschied machen kann!

%p
  Jede Krankheit wird genauer auf die aktuelle Forschung aufgeführten Seiten diskutiert
  unten. Die aktuelle Forschung Seiten enthalten weiterführende Links zu Forschers
  Websites, die spezifische Informationen in Bezug auf Studien bieten. Das
  Informationen können für die Nutzung durch Sie und / oder Ihren Tierarzt gedruckt werden. * Einige
  Studien sind nicht rassebezogenen - sie sind mit einem Sternchen vermerkt *.

%h3 Aktuelle Forschung Seiten

%h4.short Maligne Histiozytose
%ul
  %li
    =link_to('Maligne Histiozytose', page_path(I18n.locale, 'studies_mh'))
    %span.healthy_help (Gesunde Berners lässt noch zu wünschen)

%h4.short Krebserkrankungen
%ul
  %li
    =link_to('Mastzelltumoren oder Osteosarkom', page_path(I18n.locale, 'studies_broad_institute'))

%ul.detail
  %li
    %span LYMPHO SARKOME / HEMANGIO SARKOM / OSTEO SARKOM
    %span Bearbeiter: Dr. Breen - proben/blut, frisches gewebe
    %span
      Siehe
      =link_to('http://www.breenlab.org','http://www.breenlab.org')
      für mehr infos.
    %span
      E-Mail an: Dr. Breen -
      =link_to('info@breenlab.org','mailto:info@breenlab.org')
  %li
    %span B-ZELL-LYMPHOM / *MAMMA / *MELANOM / *HEMANGIO SARKOM
    %span Bearbeiter: Dr. Lindblad-Toh - proben/blut
    %span
      Siehe
      =link_to('http://www.broad.mit.edu/mammals/dog/donate.html','http://www.broad.mit.edu/mammals/dog/donate.html')
      für mehr infos.
    %span
      E-Mail an: Sarah Fryc -
      =link_to('kersli@broad.mit.edu','mailto:kersli@broad.mit.edu')
    %span Telefon: 617-252-1093
  %li
    %span *T-ZELL-LYMPHOM / *OSTEOSARKOM / *BESTIMMTE MELANOME / *HEMANGIO SARKOM
    %span Bearbeiter: Dr. Modiano - proben/blut, gewebe
    %span
      Siehe PDF
      =link_to('Samples We Need','/Modiano_Lab_The_Samples_We_Need_Jan-09.pdf')
      für mehr infos.
    %span
      E-Mail an: Mitzi Lewellen -
      =link_to('lewel001@umn.edu','mailto:lewel001@umn.edu')
    %span Telefon: 612-626-6890
    %span Kontakt Mitzi für Unterstützung bei allen Einsendungen Probe zu erhalten notwendigen Formulare, Lieferadresse und Probenahme-Kits.

%h4.short Neurologische - Spinal
%ul
  %li= link_to('Degenerative Myelopathie', page_path(I18n.locale, 'studies_dm'))
  %li= link_to('Rear End Lähmung', page_path(I18n.locale, 'studies_santera'))

%h4.short Andere Research Studies
%ul
  %li= link_to('Progressive Retina Atrophie (PRA)', page_path(I18n.locale, 'studies_optigen_pra'))
  %li= link_to('Leber Shunt', page_path(I18n.locale, 'studies_utrecht_liver_shunt'))
  %li= link_to('Epilepsie', page_path(I18n.locale, 'studies_carc'))

%h4.short DNA-Bank
%ul
  %li
    =link_to('BMD DNA Repository', page_path(I18n.locale, 'repository'))
    %span.healthy_help (Gesunde Berners lässt noch zu wünschen)

%p
  BITTE HELFEN SIE HALTEN SIE DIESE INFORMATIONEN CURRENT. Wenn Sie erfahren, dass der Status einer
  Projekt hat sich verändert, wissen neuer Forschungsergebnisse nicht aufgeführt ist, oder bekannt werden von
  Ergänzungen oder Korrekturen zu den Angaben, benachrichtigen Sie bitte Pat Long in:
  =link_to('pat@bmdinfo.com','mailto:pat@bmdinfo.com')
  \.
