%ul
  %li= link_to t('db.nav.welcome'), database_path(I18n.locale)
  %li= link_to t('db.nav.people' ), people_path(I18n.locale)
  %li= link_to t('db.nav.litters'), '#'
  %li= link_to t('db.nav.dogs'   ), '#'
  %li= link_to t('db.nav.vets'   ), '#'
  %li= link_to t('db.nav.reports'), '#'
  %li= link_to t('db.nav.photos' ), '#'
  %li= link_to t('db.nav.submit' ), '#'
