!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %title= t('site.title')
    =csrf_meta_tag
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'application-print', :media => 'print'
    =javascript_include_tag 'application'
    /[if lte IE 8]
      = stylesheet_link_tag 'application-ie'

  %body{:class => ['bgf',bgf_page_class]}
    .container
      .header
        %h1= t('site.header')
        - if request.method == 'GET'
          .lang= render :partial => 'shared/lang'
      .nav
        =render :partial => 'shared/nav'
      .content
        =yield
      .footer
        %span= t('site.copyright')
        %span= link_to 'webmaster@bernergarde.org', 'mailto:webmaster@bernergarde.org'
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fbb1876f5a1f558cc000077');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
